<!DOCTYPE html>
<html>
	<head>
		<title>Yerr</title>
		<script src="js/jquery/dist/jquery.min.js"></script>
		<script src = "/js/global.js"></script>
		<script src = "/js/index.js"></script>
		<link rel = "stylesheet" href = "/css/global.css" type = "text/css">
		<link rel = "stylesheet" href = "/css/index.css" type = "text/css">
	</head>
<body>
	<div id = "header">
		<h1 id = "title">Welcome To The Oregon Trial</h1>
	</div>
	<img src = "/images/howdy.png"/>
	<h2 id = "fadetext">PRESS THE SPACEBAR TO CONTINUE</h2>
</body>
</html>