<!DOCTYPE html>
<html>
	<head>
		<title>Yerr</title>
		<script src = "/js/global.js"></script>
		<script src = "/js/index.js"></script>
		<link rel = "stylesheet" href = "/css/global.css" type = "text/css">
		<link rel = "stylesheet" href = "/css/index.css" type = "text/css">
	</head>
<body>
	<div id = "bg">
		<div id = "header">
			<h1>Welcome To The Oregon Trail Of Tears</h1>
		</div>
		<div id = "bodyContent">
			<h2 id = "fadetext">PRESS THE SPACEBAR TO CONTINUE</h2>
		</div>
	</div>
</body>
</html>