<!DOCTYPE html>
<html>
	<head>
		<title>Yerr</title>
		<script src="js/jquery/dist/jquery.min.js"></script>
		<script src = "/js/global.js"></script>
		<script src = "/js/index.js"></script>
		<link rel = "stylesheet" href = "/css/global.css" type = "text/css">
		<link rel = "stylesheet" href = "/css/index.css" type = "text/css">
	</head>
<body>
	<div id = "header">
		<h1>Welcome To The Oregon Trail Of Tears</h1>
	</div>
	<img src = "/images/wildwest.jpg"/>
	<h2>PRESS THE SPACEBAR TO CONTINUE</h2>
</body>
</html>