<!DOCTYPE html>
<html>
	<head>
		<title>Main Menu</title>
		<script src="js/jquery/dist/jquery.min.js"></script>
		<script src = "/js/global.js"></script>
		<script src = "/js/mainmenu.js"></script>
		<link rel = "stylesheet" href = "/css/global.css" type = "text/css"/>
		<link rel = "stylesheet" href = "/css/mainmenu.css" type = "text/css"/>
	</head>
<body>
	<img src = "/images/titleimage.png" height = 200px width = 500px/>
	<h1>Oregano Trail</h1>
	<h2>Main Menu</h2>
	<h3>Select an option</h3>
	<ol>
		<li>Travel the trail</li>
		<li>Learn about the trail</li>
		<li>See the Oregon top 10 anime deaths</li>
		<li id = "soundText">quiet mode</li>
		<li id = "party">Party Mode</li>
	</ol>
</body>
</html>