<!DOCTYPE html>
<html>
	<head>
		<title>TopTen</title>
		<script src="js/jquery/dist/jquery.min.js"></script>
		<script src = "/js/global.js"></script>
		<script src = "/js/topten.js"></script>
		<link rel = "stylesheet" href = "/css/global.css" type = "text/css"/>
		<link rel = "stylesheet" href = "/css/topten.css" type = "text/css"/>
	</head>
<body>
	<img src = "/images/titleimage.png" height = 200px width = 500px/>
	<h1>Oragon's trail top 10 most good</h1>
	<table>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Score</th>
			<th>Date</th>
		</tr>
		<tr>
			<td>1)</td>
			<td>mike gareno, big god</td>
			<td>a bilion</td>
			<td>6/9/4020</td>
		</tr>
		<tr>
			<td>2)</td>
			<td>loser1</td>
			<td>10,000</td>
			<td>1/1/11</td>
		</tr>
		<tr>
			<td>3)</td>
			<td>loser2</td>
			<td>8500</td>
			<td>1/2/12</td>
		</tr>
		<tr>
			<td>4)</td>
			<td>loser3</td>
			<td>6000</td>
			<td>3/16/10</td>
		</tr>
		<tr>
			<td>5)</td>
			<td>loser4</td>
			<td>5500</td>
			<td>7/7/07</td>
		</tr>
		<tr>
			<td>6)</td>
			<td>loser5</td>
			<td>5000</td>
			<td>6/4/15</td>
		</tr>
		<tr>
			<td>7)</td>
			<td>loser6</td>
			<td>4300</td>
			<td>2/29/12</td>
		</tr>
		<tr>
			<td>8)</td>
			<td>loser7</td>
			<td>2000</td>
			<td>5/25/16</td>
		</tr>
		<tr>
			<td>9)</td>
			<td>loser8</td>
			<td>10</td>
			<td>8/14/17</td>
		</tr>
		<tr>
			<td>10)</td>
			<td>duncan mcloud</td>
			<td>-infinity</td>
			<td>11/9/16</td>
		</tr>
	</table>
	<br>
	<h2>PRESS SPACE TO RETURN TO MAIN MENU</h2>
</body>
</html>