<!DOCTYPE html>
<html>
	<head>
		<title>TopTen</title>
		<script src="js/jquery/dist/jquery.min.js"></script>
		<script src = "/js/global.js"></script>
		<link rel = "stylesheet" href = "/css/global.css" type = "text/css"/>
		<link rel = "stylesheet" href = "/css/topten.css" type = "text/css"/>
	</head>
<body>
	<img src = "/images/titleimage.png" height = 200px width = 500px/>
	<h1>Oragon's trail top 10 most good</h1>
	<p>Name | Score | Date</p>
	<p id = "list"></p>
	<br />
	<h2 id = "fadetext">PRESS SPACE TO RETURN TO MAIN MENU</h2>
	<script src = "/js/topten.js"></script>
</body>
</html>