<!DOCTYPE html>
<html>
	<head>
		<title>Trail</title>
		<script src = "/js/global.js"></script>
		<script src = "/js/trail.js"></script>
		<link rel = "stylesheet" href = "/css/global.css" type = "text/css"/>
		<link rel = "stylesheet" href = "/css/trail.css" type = "text/css"/>
	</head>
<body>
	<img src = "/images/titleimage.png" height = 200px width = 500px/>
	<div id = "gamearea">
		<div id = "background">
			background
		</div>
		<div id = "gameinfo">
			gameinfo
		</div>
	</div>
</body>
</html>