<!DOCTYPE html>
<html>
	<head>
		<title>Trail</title>
		<script src="jquery-3.3.1.min.js"></script>
		<script src = "/js/global.js"></script>
		<script src = "/js/trail.js"></script>
		<link rel = "stylesheet" href = "/css/global.css" type = "text/css"/>
		<link rel = "stylesheet" href = "/css/trail.css" type = "text/css"/>
	</head>
<body>
	<img src = "/images/titleimage.png" height = 200px width = 500px/>
	<div id = "background">
		
	</div>
	<div id = "gameinfo">
		<p>Days On Trail:</p>
		<p>Miles Traveled:</p>
		<p>Party Health Status:</p>
		<p>Current Weather:</p>
		<p>Current Pace:</p>
		<p>Current Terrain:</p>
		<p>Party Members Alive:</p>
	</div>
</body>
</html>