<!DOCTYPE html>
<html>
	<head>
		<title>Trail</title>
		<script src="js/jquery/dist/jquery.min.js"></script>
		<script src = "/js/global.js"></script>
		<script src = "/js/trail.js"></script>
		<link rel = "stylesheet" href = "/css/global.css" type = "text/css"/>
		<link rel = "stylesheet" href = "/css/trail.css" type = "text/css"/>
	</head>
<body>
	<div id = "allContent">
	<img src = "/images/titleimage.png" height = 200px width = 500px/>
	<div id = "background">
		<div id = "deathBox"><p>Ya'll ded</p><br />
			<p>Press 1 to Restart</p><br />
			<p>Press 2 to Quit</p>
		</div>
		<div id = "winBox"><p>You win duder</p><br />
			<p>Press Enter to</p><br />
			<p>Return to the</p><br />
			<p>Main Menu</p>
		</div>
	</div>
	<div id = "gameinfo">
		<p>Days On Trail: <p id = "days"></p></p>
		<p>Miles Traveled: <p id = "miles"></p></p>
		<p>Party Health: <p id = "health"></p></p>
		<p>Current Weather: <p id = "weather"></p></p>
		<p>Current Pace: <p id = "pace"></p></p>
		<p>Current Terrain: <p id = "terrain"></p></p>
		<p>Party Members Alive: <p id = "memberStatus"></p></p>
		<p>Message: <p id = "message"></p></p>
	</div>
	</div>
	<img src = "/images/wagon.png" height = 100px width = 150px id = "wagon"/>
</body>
</html>