
@keyframes fade {
	from {opacity: 0.05;}
	from {font-size: 16pt;}
}
body {
	height: 100%;
	background-color: black;
}
#bg {
	height: 100%;
	background-image: url("/images/wildwest.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#header {
	order: 1;
	width: 100%;
	background-color: #F9F9F9;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	padding-top: 20px;
	border-radius: 4px;
}
#bodyContent {
	width: 100%;
 	order: 2;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	padding-top:5px;
}
h1 {

}
h2 {
	padding-top: 80px;
	animation: fade .8s infinite alternate;
	padding-bottom: 30px;
}

