body {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	color: white;
	text-decoration: underline;
}
p {
	color: white;
	font-size: 15pt;
}
h2 {
	color: white;
}
#list {
	color: white;
	font-size: 22pt;

}